
div#main-container {
    padding-left: 0;
    padding-right: 0;
}

div#info-sidebar {
    width: 1000px;
    max-width: 1000px;
    background-color: rgba(90, 92, 107, 0.84);
    padding-left: 0;
    padding-right: 0;
    -webkit-box-shadow: -5px 1px 24px -4px rgba(0,0,0,.61);
    -moz-box-shadow: -5px 1px 24px -4px rgba(0,0,0,.61);
    box-shadow: -5px 1px 24px -4px rgba(0,0,0,0.61);
    position: relative;
    right: 0;
}

div#sidebar-content {
    position: fixed;
    width: 330px;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}

div#main > section {
    border-top: solid 6px #f4f4f4;
    padding-right: 3rem;
    padding-left: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding-top: 2rem;
}

section#about-me {
    border-top: none !important;
}

section#about-me > .container-fluid > h3 {
    font-size: 4rem;
    color: #106eb9;
}

.sub-text {
    font-size: 1rem;
    line-height: 1.6rem;
    color: #696a75;
}

.sub-title {
    font-size: 1.5rem;
    line-height: 3.3rem;
    color: #696a75;
}

div#homepage-header-image {
    height: 300px;
    width: 100%;
    background-image: url('../../dist/images/sea-u-free-diving.jpg');
    background-position: left;
    background-size: cover;
}

div#img-overlay {
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 46%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 46%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 46%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    width: 100%;
    height: 100%;
}

div#profile-info {
    text-align: center;
    padding-top: 5rem;
}

div#profile-info > img {
    max-width: 40%;
}

div#profile-info > h2 {
    color: white;
}

div#profile-info > p {
    color: white;
}

.center-this {
    margin: 0 auto;
}

div#sidebar-menu {
    text-align: center;
    padding-top: 1rem;
}

a.menu-item {
    display: block;
    color: white;
    text-decoration: none;
    padding: 1rem;
    border: 2px solid rgba(255, 255, 255, 0.27);
    border-right: none;
    border-left: none;
    border-bottom: none;
    cursor: pointer;
    font-size: 1.1rem;
    -webkit-transition: background-color 0.6s ease;
    -moz-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
    
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    transition: color 0.4s ease;
}

a.active {
    background-color: white;
    color: black !important;
}

.devicons {
    font-size: 45px;
    vertical-align: middle;
}

.no-style-list {
    list-style-type: none;
}

.work-list > div:first-child {
    border-top: none;
    padding-top:0;
}

.work-item {
    border-top: solid 6px #f4f4f4;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-top: 4rem;
}

.work-item > h5 {
    font-size: 1.2rem;
    color: #696a75;
}

.work-dates {
    font-weight: bold;
}

.work-description {
    line-height: 2.1rem;
    font-size: 1.1rem;
}

#sidebar-footer {
    text-align: center;
}

#sidebar-footer a {
    color: rgba(255, 255, 255, 0.59);
    font-size: 2rem;
    cursor: pointer;
    padding-right: 10px;
}

#sidebar-footer > a > i {
    font-size: 1.5rem;
}

#contact-text {
    padding-top: 0;
}

#contact-pic {
    max-width: 75%;
    padding-top: 1rem;
}

#contact {
    margin-bottom: 12rem;
}

.project-list > div > img {
    width: 410px;
}

.slick-slide
{
    width: 50vw;
box-sizing: border-box;
}

.row {
    margin-right: 0;
}

div#main.col {
   padding-right: 0;
    padding-left: 0;
}

#name-label {
    color: white;
    font-weight: normal;
    font-size: 1.3rem;
}

#title-label {
    color: #b1b1b1;
    font-weight: normal;
    font-size: 0.78rem;
}

.nav-link.sb {
    text-align: center;
    padding:15px;
    color: #b9b9b9;
    width: 100%;
    /*-webkit-transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);*/
    /*transition:         all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);*/

    -webkit-transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition:         all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-link.sb:hover {
    background-color: white;
    color: black !important;
}

#sidebar-top {
    margin-bottom: 3rem;
}

#footnote {
    color: #7d7d7d;
    font-size: 0.4rem;
    display: none;
}

#sidebar-wrap {
    padding-top: 2rem;
}

@media all and (max-width: 575px) {
    #sidebar-wrap {
        padding-top: 0;
    }

    #sidebar-top {
        display: none !important;
    }
}

a.portfolio-item {
    position: relative;
    width: 400px;
    height: 235px;
    margin-bottom: 2rem;
}

.portfolio-description {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    z-index: 0;
    position: absolute;
    width: 400px;
    height: 235px;
    top: 0;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    color: black;
    opacity: 0;
    padding-left: 2rem;
    padding-right: 2rem;
}

.portfolio-item:hover .portfolio-description {
    top: 0px;
    text-align: center;
    background-color: rgb(249, 249, 249);
    visibility: visible;
    opacity: 1;
    padding-top: 2.2rem;
}

.portfolio-description h4 {
    color: black;
    width: 100%;
    text-align: center;
    text-decoration: none !important;
    font-size: 1.3rem;
    padding-top: 0.5rem;
    transition: all 0.3s ease-in-out;
}

.portfolio-description h4:hover {
    color: black;
    text-decoration: none !important;
}

.portfolio-description p {
    color: #343a40;
    text-decoration: none !important;
}

.portfolio-item:hover {
    text-decoration: none;
}

#projects-container {
    justify-content: space-evenly;
}

@media all and (max-width: 767px) {
    #sidebar-top {
        display: none !important;
    }
}

@media all and (max-width: 644px) {
    #sidebar-wrap {
        /*display: none;*/
    }
}

nav {
    padding-left: 0.9rem;
}